.redone{
    background-color: red;
}

.London_red{
    color: white;
    font-size: 30px;
}
.red{
    color: whitesmoke;
}
.yellowone{
    background-color: yellow;
}
.London_yello{
    color: black;
}
.yellow{
    color: black
    ;
}

.greyone{
    background-color: gray;
}
.London_white{
    color: red;
}
.white{
    color: red;
}
.London_blue{
    color: blue;
}
.blue{
    color: blue;
}